<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainyteam.controller">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.rainyteam.views.SignIn2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.androdocs.weatherapp.TrueWeatherActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.rainyteam.services.MusicService"
            android:enabled="true"
            android:exported="true" /> <!-- Timer Service Declaration -->
        <service
            android:name="com.rainyteam.services.TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.rainyteam.views.IntroduceWaterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.SigninActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rainyteam.views.EncyclopediaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.EncyclopediaDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.GreenhouseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.StoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.MainWaterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rainyteam.views.UserInfoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>