<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainyteam.controller">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.rainyteam.views.IntroduceWaterActivity">

        </activity>
        <activity android:name="com.rainyteam.views.SigninActivity">

        </activity>
        <activity android:name="com.rainyteam.views.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rainyteam.views.EncyclopediaActivity">

        </activity>
        <activity android:name="com.rainyteam.views.EncyclopediaDetailActivity">

        </activity>
        <activity android:name="com.rainyteam.views.GreenhouseActivity">
        </activity>
        <activity android:name="com.rainyteam.views.StoreActivity">

        </activity>
        <activity android:name="com.rainyteam.views.MainWaterActivity">

        </activity>
        <activity android:name="com.rainyteam.views.UserInfoActivity">

        </activity>
    </application>

</manifest>