<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainyteam.controller">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.rainyteam.views.ChargingScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rainyteam.views.SignIn2Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.androdocs.weatherapp.TrueWeatherActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <service
            android:name="com.rainyteam.services.MusicService"
            android:enabled="true"
            android:exported="true" /> <!-- Timer Service Declaration -->
        <service
            android:name="com.rainyteam.services.TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.rainyteam.views.IntroduceWaterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.SigninActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.EncyclopediaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.EncyclopediaDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.GreenhouseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.StoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.MainWaterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.UserInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.rainyteam.views.InfoApp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>